
section{
    padding-top: 60px;
}

.padding-0{
padding-right:0;
padding-left:0;
}

body {
    background-color: #d3d3d3;
}

.small-class {
    color: red;
}
.img-size {
    width: 25%;
    height: 10%;
}


.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

#main-program{
    background-image: url("../assets/images/patternpad.svg");
    margin-top: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-design-dark {
    background: linear-gradient(0deg, rgba(58, 56, 56, 0.8), rgba(88, 82, 82, 0.8));
    color: white;
    margin: 3%;
    font-weight: 700;
}

.last-image-overlay {
    background: linear-gradient(0deg, rgba(179, 107, 107, 0.8), rgba(179, 103, 103, 0.8));
    
}
#hero-section {
    padding-bottom: 5%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../assets/images/new-bg.svg");
    background-repeat: no-repeat;
    background-position: 100% 100%, cover;
    background-size: 100% 100%;
    color: #ec5242;
}

.parent-div {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 50%;
    font-family: arial;
    height: fit-content;
}


.div-container {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 3%;
    width: 90%;
    position: relative;
    margin-left: 5%;
    margin-bottom: 8%;
    
}

.crown-image {
    position: absolute;
    height: 35%;
    width: 25%;
    left: -6%;
    top: -12%;
}

.div-container img {
    width: 20%;
    margin-right: 3%;
    z-index: 1;
}


.speaker-title {
    color: red;
}
.image-tag-class {
    width: 50%;
    height: 50%;
}

.speaker-name {
    font-size: 30px;
    font-weight: bold;
}

#about-section {
    height: 100vh;
}

.img-reduce {
    width: 25%;
    height: 20%;
}

.re-size-last-image {
    height: 20%;
    width: 50%;
}

.marging-botton-5 {
    margin-bottom: 25%;
}

.card-hover-border:hover {
    border: blanchedalmond solid 2px;
}

@media screen and (min-width:765px) {
    #hero-section {
        height: 100vh;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../assets/images/new-bg.svg");
        background-repeat: no-repeat;
        background-position: 100% 100%, cover;
        background-size: 100% 100%;
        color: #ec5242;
    }

    .my-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 85%;
        margin-left: 8%;
    }

    .crown-image {
        position: absolute;
        height: 45%;
        width: 35%;
        left: -6%;
        top: -13%;
        object-fit: cover;
    }
}