
section{
    padding-top: 60px;
}

.padding-0{
padding-right:0;
padding-left:0;
}

.img-size {
    width: 15%;
    height: 10%;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

#main-program{
    background-image: url("../assets/images/patternpad.svg");
    margin-top: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.bg-design-dark {
    background-color: rgb(56, 53, 53);
    color: white;
    margin: 3%;
    font-weight: 700;
}

#hero-section {
    padding-bottom: 5%;
}

#feature-speakers {
    padding-top: 0;
}

#about-section {
    height: 100vh;
}

.marging-botton-5 {
    margin-bottom: 25%;
}



@media screen and (min-width:765px) {
    #hero-section {
        height: 100vh;
        background-image: url("../assets/images/daddy-image.jpg");
        background-repeat: no-repeat;
        background-position: right 5%;
        background-size: 30% 100%;
        color: #ec5242;
    }
}